
/*Footer*/

footer {
    background-color: $colorSecundario;
    padding-block: 1rem;

    p {
        text-align: center;
        color: $colorPrincipal;
        margin: .5rem;
    }

    .footer {
        display: flex;
        justify-content: center;
        background-color: $colorSecundario;
        gap: 1rem;

        a {
            color: $colorPrincipal;
            transition: 1s;

            &:hover {
                color: white;
                transform: rotate(360deg) scale(1.2);
            }
        }
    }        
}